page-index
  div.flex.flex-column.h-full
    module-header
    div.h-full.overflow-scroll
      div.container
        div.posts
          div.m8(data-is='item-post', each='{item in posts}', item='{item}')
    module-tabbar

  script.
    this.fetch = async ({modules}) => {
      console.log('fetch');
      if (this.posts) return {};
      
      var posts = await modules.app.ref.child('posts').get();
      return {
        posts: posts.splice(0, 10),
      };
    };
    
    this.on('show', function() {
      console.log('show');
    });
