page-settings
  div.flex.flex-column.h-full
    module-header
    div.h-full.overflow-scroll
      div.my16
        a.f.bg-white.p16.mb1(each='{item in items}', href='')
          div {item.label}
    module-tabbar

  script.

    this.items = [
      { label: 'ログイン・登録' },
      { label: 'Spalate を応援する' },
      { label: '不具合を報告する' },
      { label: '利用規約' },
    ];

    this.on('mount', () => {
    });
    
    this.on('show', function() {
    });

    this.onclick = () => {
      alert();
    };
