page-items-detail(spat-animation='slide')
  div.flex.flex-column.h-full
    module-header
    div.h-full.overflow-scroll
      div.container.p10
        a(href='', onclick='spat.nav.back()') ◀
        h1 {post.title}
        div {post.body}
    module-tabbar

  style(type='less').
    :scope {
      display: block;
    }

  script.
    var self = this;

    this.fetch = async ({app, req}) => {
      if (this.post) return {};

      var res = await app.ref.child('posts').child(req.params.id).get();
      return {
        post: res,
      };
    };

    this.head = () => {
      return {
        title: this.post.title,
      };
    };

    this.on('show', function(e) {
    });
