page-index
  div.flex.flex-column.h-full
    module-header
    div.h-full.overflow-scroll
      div.container.p10
        div.items
          div.rounded-4.mb32.f(each='{items}')
            div.flex-fixed.mr16
              div.w200.s-w100.rect
                img.block.s-full.object-fit-cover(src='{image_url}')
            div.w-full
              h3.text-primary
                a(href='/items/{id}') {title}
              p.line-clamp-3.word-break-all.s-hide {body}
    module-tabbar

  script.
    var self = this;

    this.on('show', function() {
      app.ref.child('items').get().then((res) => {
        this.items = res.data.items;
        this.update();
      });
    });

    this.on('fetch', function(e) {
      this.posts = e.response;
      this.update();
    });