doctype html

html
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/website#")

    | !{renderer.head()}

  body
    | !{renderer.app()}
    | !{renderer.footer()}


