module-header
  div.bg-main.h44.white
    div.container.s-full.f.fh.relative
      div.bold.fs24
        a(href='/') { opts.title || 'Spalate' }
      div.absolute.t0.l0.h-full.f.fh.px10.cursor-pointer(onclick='spat.nav.back();')
        i.icon-back.fs24

  style(type='less').
    :scope {
      display: block;
    }
  
  script.
    var self = this;

    this.on('mount', () => {

    });
