module-header
  div.bg-main.h44.white
    div.container.s-full.f.fh
      div.bold.fs24 { opts.title || 'Spalate' }

  style(type='less').
    :scope {
      display: block;
    }
  
  script.
    var self = this;

    this.on('mount', () => {

    });
