module-tabbar
  div.h50.border-top.bg-white
    div.container.s-full.f.fh
      div.f.s-full(each='{tab in tabs}')
        div.w-full.f.fh
          i.fs24(class='icon-{tab.icon}')

  style(type='less').
    :scope {
      display: block;
    }
  
  script.
    var self = this;

    this.tabs = [
      { icon: 'lightning', link: '/' },
      { icon: 'search', link: '/search' },
      { icon: 'tag', link: '/' },
      { icon: 'menu', link: '/user' },
    ];

    this.on('mount', () => {

    });
