app(class="device-{uuaa.device.key} os-{uuaa.os.key} browser-{uuaa.browser.key} {mobile: uuaa.mobile, webview: uuaa.webview, cordova: uuaa.cordova}")
  div.app-body
    spat-nav

  spat-modal
  spat-toast

  style(scoped, type='less').
    :scope {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
