app(class="device-{uuaa.device.key} os-{uuaa.os.key} browser-{uuaa.browser.key} {mobile: uuaa.mobile, webview: uuaa.webview, cordova: uuaa.cordova}")
  div.app-body
    spat-nav

  spat-modal
  spat-toast

  style(scoped, type='less').
    :scope {
      
    }
