@import "reset.less";
@import "colors.less";
@import "form.less";


:root {
  --main-text-color: #3E3E3E;
  --main-bg-color: #F6F6F9;
  --font-weight-bold: 600;
}

body {
  font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 14px;
  color: var(--main-text-color);
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-bold);
}

.spat-page {
  background-color: var(--main-bg-color);
}